.wrapper {
    margin: 8px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    border: 3px solid green;
    border-radius: 20px;
    width: fit-content;
    /* height: 97vh; */
    height: 100%;
    padding: 12px;
    overflow: hidden;
}

.title {
    align-self: flex-start;
}